<!DOCTYPE html>
<html>
<head>
	<title>Bet EPL</title>
	<%= favicon_link_tag 'favicon.png' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= include_gon %>
</head>
<body>
	<div id="navbar">
		<div class="row">
			<div class="col-xs-12 col-md-4"><%= image_tag("logo.png", class: "epllogo") %></div>
			<div class="col-xs-12 col-md-8" id="heading">Punter's Paradise</div>
		</div>
	</div><br/>
	<div class="container-fluid" align="center">
	<%= image_tag("bournemouth.png", class: "teamicon") %>
	<%= image_tag("arsenal.png", class: "teamicon") %>
	<%= image_tag("burnley.png", class: "teamicon") %>
	<%= image_tag("chelsea.png", class: "teamicon") %>
	<%= image_tag("crystal-palace.png", class: "teamicon") %>
	<%= image_tag("everton.png", class: "teamicon") %>
	<%= image_tag("hull-city.png", class: "teamicon") %>
	<%= image_tag("leicester-city.png", class: "teamicon") %>
	<%= image_tag("liverpool.png", class: "teamicon") %>
	<%= image_tag("manchester-city.png", class: "teamicon") %>
	<%= image_tag("manchester-united.png", class: "teamicon") %>
	<%= image_tag("middlesbrough.png", class: "teamicon") %>
	<%= image_tag("southampton.png", class: "teamicon") %>
	<%= image_tag("stoke-city.png", class: "teamicon") %>
	<%= image_tag("sunderland.png", class: "teamicon") %>
	<%= image_tag("swansea-city.png", class: "teamicon") %>
	<%= image_tag("tottenham-hotspurs.png", class: "teamicon") %>
	<%= image_tag("watford.png", class: "teamicon") %>
	<%= image_tag("west-bromwich-albion.png", class: "teamicon") %>
	<%= image_tag("west-ham-united.png", class: "teamicon") %>
	</div><br/>
	
	<div class="container">
		<% flash.each do |name, msg| %>
		 <div class="flashmsg">
				<%= content_tag :div, msg, id: "flash_#{name}" %>
			</div>
		<% end %>
		<div id="logger">
			<% if current_user %>
				Signed in as <strong><%= current_user.name %></strong>!
				<%= button_to "Sign out", signout_path, id: "sign_out", class: "btn btn-primary", method: :get %><br/>
				<span><b>Current coins : </b></span>
				<span class="coins">
					<%= current_user.coins %>&nbsp;<i class="glyphicon glyphicon-cd"></i>
				</span>
			<% else %>
				<%= button_to "/auth/facebook", id: "sign_in", class: "btn btn-primary", method: :get do %>
					<span class="glyphicon glyphicon-user"></span> Sign Up via Facebook
				<% end %>
			<% end %>
		</div>
		<br/>
		<%= yield %>
	</div>
</body>
</html>
