<!DOCTYPE html>
<html>
<head>
	<title>Bet EPL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= include_gon %>
</head>
<body>
	<div id="navbar">
		<span class="row">
			<span class="col-xs-4 col-md-2"><%= image_tag("logo.png", class: "icon") %></span>
			<span class="col-xs-4 col-md-8" id="heading">Punter's Paradise</span>
			<span class="col-xs-4 col-md-2" id="rightnav">
				<% if current_user %>
					<span style="color: white;">Your coins : </span><br/>
					<span class="coins">
						<%= current_user.coins %>&nbsp;<i class="glyphicon glyphicon-cd"></i>
					</span>
				<% end %>
			</span>
		</span>
	</div>
	<div class="container">
		<% flash.each do |name, msg| %>
		 <div class="flashmsg">
				<%= content_tag :div, msg, id: "flash_#{name}" %>
			</div>
		<% end %>
		<div id="logger">
			<% if current_user %>
				Signed in as <strong><%= current_user.name %></strong>!
				<%= button_to "Sign out", signout_path, id: "sign_out", class: "btn btn-primary", method: :get %><br/>
			<% else %>
				<%= button_to "/auth/facebook", id: "sign_in", class: "btn btn-primary", method: :get do %>
					<span class="glyphicon glyphicon-user"></span> Sign Up via Facebook
				<% end %>
			<% end %>
		</div>
		<br/>
		<%= yield %>
	</div>
</body>
</html>
